html {
  background-color:  rgb(28, 62, 90);
}
.App {
  background-color: rgb(28, 62, 90);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.game-board {
  width: 400px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
.game-button {
  width: 33.3%;
  height: 33.3%;
  border: 2px black solid;
  background-color: white;
}
.glow {
  animation: glowing 500ms 1s;
  cursor: default;
}
.game-container{
  display: flex;
  flex-direction: column;
}
.game-buttons{
  display: flex;
  flex-direction: row;
  margin-bottom: 25%;
}
.game-buttons > button {
  width: 49.5%;
  border-radius: 0;
  margin-left: .35%;
}
#check-pattern{
  margin-top: 20%;
}
.footer-links {
  display: flex;
  flex-direction: row;
}
.footer-links > a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

@keyframes glowing {
  0% {
    background-color: #9afd7c;
    box-shadow: 0 0 20px #69ec41;
  }
  50% {
    background-color: #8af56a;
    box-shadow: 0 0 5px #5cc73b;
  }
  
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}