html {
  background-color:  rgb(28, 62, 90);
}
.App {
  background-color: rgb(28, 62, 90);
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.game-board {
  width: 400px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
.game-button {
  width: 33.3%;
  height: 33.3%;
  border: 2px black solid;
  background-color: white;
}
.glow {
  animation: glowing 500ms 0.1s;
  cursor: default;
}
.glow-red {
  animation: glowing-red 500ms 0.1s;
}
#round-counter {
  margin-top: 30%;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.popup-button {
  opacity: 0;
  width: 0px;
}
.popup-container {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(28, 62, 90);
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.popup-message {
  color: white;
  font-size: 7rem;
  margin-bottom: 10%;
}
.game-container {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.game-buttons {
  display: flex;
  flex-direction: row;
}
.game-buttons > button {
  width: 49.5%;
  border-radius: 0;
  margin-left: .35%;
}
#game-message {
  font-size: x-large;
  color: #69ec41;
  text-align: center;
  margin-bottom: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.instruction-container {
  text-align: center;
  color: white;
  position: absolute;
  left: 5%;
  top: 30%;
}
.instruction-container > ol > li {
  text-align: left;
}
.footer-links {
  display: flex;
  flex-direction: row;
}
.footer-links > a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

@keyframes glowing {
  0% {
    background-color: #9afd7c;
    box-shadow: 0 0 20px #69ec41;
  }
  50% {
    background-color: #8af56a;
    box-shadow: 0 0 5px #5cc73b;
  }
  
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}

@keyframes glowing-red {
  0% {
    color: #fc6666;
    box-shadow: 0 0 20px #ec4141;
  }
  50% {
    color: #f56a6a;
    box-shadow: 0 0 5px #c73b3b;
  }
  
  100% {
    color: #a80505;
    box-shadow: 0 0 5px #a80505;
  }
}