.App {
  background-color: rgb(28, 62, 90);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.game-board {
  width: 400px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
.game-button {
  width: 33.3%;
  height: 33.3%;
  border: 2px black solid;
  background-color: white;
}
.glow {
  animation: glowing 1300ms 2s;

  @keyframes glowing {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #49e819;
      box-shadow: 0 0 20px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
  }
}
.game-container{
  display: flex;
  flex-direction: column;
}
#check-pattern{
  margin-top: 20%;
}